<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBTjffuv2IVZotExY-0EiNcemxTLWSjJgA</string>
	<key>GCM_SENDER_ID</key>
	<string>20635740314</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.salabatepapo.app.salabatepapo</string>
	<key>PROJECT_ID</key>
	<string>link-firebase-app</string>
	<key>STORAGE_BUCKET</key>
	<string>link-firebase-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:20635740314:ios:3390dd5a3bc6f65356d723</string>
</dict>
</plist>